body {
		background-color: #f7f3e8;
	}
.jumbotron {
color: white;
background-color: rgb(70,131,193);
}

.btn-default {
	background-color: rgb(41,82,124);
	color: white;
	}

.venntooltip {
  position: absolute;
  text-align: center;
  background: #333;
  color: #ddd;
  padding: 2px;
  border: 0px;
  border-radius: 8px;
  opacity: 0;
}

#vennresults dl{
font-size: 90%;
}

#vennresults dd {
color: LightSlateGray;
padding-left: .8em;
margin-bottom: .5em;
}

.hideMe {
display: none;
}

.vennMsg {
color:gray;
font-size:2em;
text-align: center
}

.explanation {
    position: absolute;
    bottom: 1em;
    color:gray;
    right: 3em;
}

.zoom {
   float: right;
   color: white;
   background-color: DarkGray;
}

.pastsearch {
color:blue;
text-decoration: underline;
cursor: pointer;
}

#about {
	float: right;
	color: black;
	background-color: white;
	font-size: 125%;
}

#about:hover, #about:focus {
	background-color: rgb(202,220,237);
}

.detailed {
	background-color: #FFF;
	padding-left: 1em;
	border: 2px solid #CCC;
	max-width: 25%;
	min-width: 15em;
	margin-top: 0.2em;
	margin-bottom: 0.2em;
	float: right;
}

.clearfix {
	overflow: hidden;
}

#logopub {
	color: #CAE7CA;
	z-index:1;
	font-family: "Century Gothic", Helvetica, sans-serif;
	}

#logovenn {
	font-family: "Century Gothic", Helvetica, sans-serif;
	position: relative;
	top: .4em;
	left: -.4em;
	z-index:2;
	}

	#printable {
	  display: none; /* Hidden by default */
	  position: fixed; /* Stay in place */
	  z-index: 3; /* Sit on top */
	  padding-top: 100px; /* Location of the box */
	  left: 0;
	  top: 0;
	  width: 100%; /* Full width */
	  height: 100%; /* Full height */
	  overflow: auto; /* Enable scroll if needed */
	  background-color: rgb(0,0,0); /* Fallback color */
	  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	#printable-stuff {
	  background-color: #fefefe;
	  margin: auto;
	  padding: 20px;
	  border: 1px solid #888;
	  width: 80%;
	}

	.close {
	  color: #aaaaaa;
	  float: right;
	  font-size: 28px;
	  font-weight: bold;
	}

	.close:hover,
	.close:focus {
	  color: #000;
	  text-decoration: none;
	  cursor: pointer;
	}
